<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% block extra_css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
  </head>
  <body>
    <div class="container" style = 'padding-top: 10px;'>

      <nav class="navbar sticky-top navbar-expand navbar-light" style = 'background-color: #F0954A;'>

        <a class="navbar-brand">Marklyn</a>
        <button type="button" class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navbarSupportedContent' aria-controls = 'navbarSupportedContent' aria-expanded = 'false'
        aria-label  = 'Toggle navigation'> <span class = 'navbar-toggler-icon'></span>
        </button>
        <div class="collapse navbar-collapse" id = 'navbarSupportedContent'>
          <ul class = 'navbar-nav mr-auto'>
            <li class = 'nav-item active'><a class="nav-link" href="{% url 'home:home_page' %}"> <button type="button" class = 'btn btn-primary'>Home</button><span class = 'sr-only'>(current)</span> </a></li>
            <li class = 'nav-item active'><a class="nav-link" href="{% url 'admin:index' %}"> <button type="button" class = 'btn btn-primary'>Admin</button><span class = 'sr-only'>(current)</span> </a></li>

            <li class = 'nav-item active'><a class="nav-link" href="{% url 'amazon:input' %}"> <button type="button" class = 'btn btn-primary'>Amazon_in</button><span class = 'sr-only'>(current)</span> </a></li>
            <li class = 'nav-item active'><a class="nav-link" href="{% url 'amazon:output' %}"> <button type="button" class = 'btn btn-primary'>Amazon_out</button><span class = 'sr-only'>(current)</span> </a></li>


            <li class = 'nav-item dropdown'>
              <a href="#" class = 'nav-link dropdown-toggle' id = 'navbarDropdown' role = 'button' data-toggle = 'dropdown' aria-haspopup = 'true' aria-expanded = 'false'>
                <button type="button" class = 'btn btn-primary'>Employee</button></a>
              <div class="dropdown-menu" aria-labelledby = 'navbarDropdown'>
                <a class = 'dropdown-item' href="{% url 'employee:employee_list'%}">Employee List</a>
                <a class = 'dropdown-item' href="{% url 'employee:employee_input'%}">Employee Input</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      {% block office_block %}

      {% endblock %}
    </div>

    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {% block extra_js %} {% endblock %}
    <script src = "{% static '/js/sort.js' %}"></script>

  </body>
</html>
